.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  margin-top: 8rem;
  padding-inline: 20px;
}
.faq h1 {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  color: #1f1f39;
  margin-bottom: 3rem;
}
.faq-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 0px;
}

.faq-grid .faq-row:last-of-type {
  border-bottom: none;
}
@media screen and (max-width: 770px) {
  .faq {
    display: none;
  }
}
