.download {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  width: 100%;
  max-width: 1170px;
  background-image: url("../../../Assets/download/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  margin-top: 7rem;
  padding-inline: 20px;
  height: 274px;
}
.left-download {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  gap: 20px;
}
.left-download h1 {
  font-size: 50px;
  line-height: 59px;
}
.left-download p {
  font-size: 20px;
  line-height: 28px;
}
.right-download img {
  max-width: 100%;
  object-fit: contain;
}
@media screen and (max-width: 1410px) {
  .download {
    width: 97%;
  }
}
@media screen and (max-width: 930px) {
  .download {
    margin-top: 3rem;
    width: 100%;
    padding: 3rem 2rem;
    border-radius: 0;
  }
  .left-download h1 span {
    display: none;
  }
  .left-download {
    width: 100%;
    align-items: flex-start;
  }
  .left-download h1,
  .left-download p {
    text-align: left;
  }
  .left-download br {
    display: none;
  }
  .left-download h1 {
    font-size: 40px;
  }
}
@media screen and (max-width: 820px) {
  .download {
    flex-direction: column;
    height: 252px;
    gap: 2rem;
  }
  .right-download img {
    max-width: 190px;
  }
  .left-download {
    gap: 5px;
  }
  .left-download h1 {
    font-size: 24px;
    line-height: 28px;
  }
  .left-download p {
    font-size: 16px;
  }
}
