.personal-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  width: 100%;
}
.personal {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  padding-inline: 20px;
}
.left-pern {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.left-personal .title,
.personal .sub-title {
  text-align: left;
}
.personal .sub-title {
  max-width: 500px;
  color: black;
  line-height: 1.6;
}
.right-pern {
  position: relative;
  flex: 0.7;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.right-pern .p-box:last-of-type {
  position: absolute;

  top: 36%;
  left: 30%;
}

@media screen and (max-width: 1120px) {
  .personal-cont {
    margin-top: 5rem;
  }
  .left-pern,
  .right-pern {
    flex: none;
    width: 100%;
  }
  .personal {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    padding-inline: 20px;
    gap: 2rem;
  }
  .personal .sub-title {
    max-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .personal {
    gap: 3rem;
  }
  .right-pern .p-box:last-of-type {
    top: 25%;
  }
}
