.diff {
  width: 100%;
  background-image: url("../../../Assets/diff.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 461px;
  margin-top: 200px;
  margin-bottom: 100px;
}
.diff h1 {
  font-weight: 300;
  font-size: 49px;
  line-height: 84px;
  color: #252525;
  padding-bottom: 6rem;
  padding-left: 8rem;
}
@media screen and (max-width: 1106px) {
  .diff {
    margin-top: 6rem;
  }
}
@media screen and (max-width: 790px) {
  .diff {
    height: auto;
    background: none;
    justify-content: center;
    padding-inline: 20px;
    margin-bottom: 40px;
  }
  .diff h1 {
    padding: 0px;
    text-align: center;
  }
}
@media screen and (max-width: 414px) {
  .diff {
    margin-top: 3rem;
  }
  .diff h1 {
    font-size: 25px;
  }
}
