.hero-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-inline: 20px;
  background-image: url("../../../Assets/patterns/hero-pattern.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  padding-top: 30px;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  mix-blend-mode: normal;
  border-radius: 84px;
  max-width: 1400px;
  overflow: hidden;
  width: 100%;
}

.left-hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  padding-left: 80px;
  flex: 1;
}
.left-hero h1 {
  color: black;
  font-size: 52px;
}
.left-hero p {
  color: black;
  font-size: 20px;
  max-width: 90%;
}

.right-hero {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  position: relative;
}
.right-hero img {
  max-width: 600px;
  width: 100%;
  object-fit: contain;
}
.desktop-hero {
  display: block;
}
.hero-mobile {
  display: none;
}
.float {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 58px;
  background: #ffffff;
  box-shadow: 6px 11px 8px -3px rgba(0, 0, 0, 0.15);
  border-radius: 63px;
  z-index: 3;
}
.left-float,
.right-float {
  display: flex;
  justify-content: center;
}
.bold-float {
  font-weight: 500;
  font-size: 20px;
  color: black;
}
.light {
  font-weight: 500;
  font-size: 12px;
  color: #9299a3;
}
.float1 {
  width: 150px;
}
.float2 {
  width: 200px;
}
.float3 {
  width: 180px;
}
.float4 {
  width: 220px;
}
.float5 {
  width: 164px;
}
.hero .float1 {
  top: 19%;
  left: 13%;
}
.hero .float2 {
  top: 50%;
  left: 0;
}
.hero .float3 {
  top: 77%;
  left: 20%;
}
.hero .float4 {
  top: 77%;
  left: 59%;
}
.hero .float5 {
  top: 54%;
  left: 71%;
}
.float4 {
  justify-content: flex-start;
  padding-left: 10px;
  gap: 20px;
}
.float4 .right-float {
  align-items: flex-start;
  flex-direction: column;
}
.float4 .bold-float {
  font-size: 13px;
}
.float4 .light {
  font-size: 11px;
}
.desk {
  display: block;
}
.mob {
  display: none;
}
@media screen and (max-width: 1370px) {
  .hero .float1 {
    left: 13%;
  }
  .hero .float2 {
    left: -5%;
  }
  .hero .float3 {
    left: 15%;
  }
  .hero .float4 {
    left: 55%;
  }
  .hero .float5 {
    left: 67%;
  }
}
@media screen and (max-width: 1200px) {
  .desk {
    display: none;
  }
  .mob {
    display: block;
  }
  .float {
    padding-inline: 12px;
    justify-content: space-between;
    height: 40px;
  }
  .bold-float {
    font-size: 15px;
  }
  .float img {
    width: 30px;
    height: 30px;
  }
  .float1 {
    width: 98px;
  }
  .float2 {
    width: 150px;
  }
  .float3 {
    width: 136px;
  }
  .float4 {
    width: 182px;
    gap: 5px;
  }
  .float4 .right-float {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
  }
  .float4 .right-float .bold-float {
    font-size: 15px;
  }
  .float4 .right-float img {
    width: 74px;
    object-fit: contain;
  }
  .float4 .right-float .light {
    display: none;
  }
  .float5 {
    width: 126px;
  }
  .hero .float1 {
    top: 12%;
    left: 8%;
  }
  .hero .float2 {
    top: 49%;
    left: 8%;
  }
  .hero .float3 {
    top: -10%;
    left: 64%;
  }
  .hero .float4 {
    top: 69%;
    left: 50%;
  }
  .hero .float5 {
    top: -10%;
    left: 8%;
  }
  .hero-cont {
    background-image: url("../../../Assets/patterns/hero-pattern-mobile.svg");
    background-position: bottom right;
  }
  .hero {
    flex-direction: column;
    background: none;
    gap: 70px;
    overflow: visible;
  }
  .left-hero {
    align-items: center;
    text-align: center;
    padding: 0;
  }
  .left-hero h1 {
    font-size: 2.5rem;
  }
  .left-hero p {
    max-width: 500px;
  }
  .desktop-hero {
    display: none;
  }
  .hero-mobile {
    display: block;
  }
  .right-hero img {
    max-width: 500px;
    border-radius: 30px;
  }
}
@media screen and (max-width: 450px) {
  .left-hero h1 {
    font-size: 2rem;
  }
  .left-hero p {
    font-size: 1.3rem;
  }
  .hero .float1 {
    top: 12%;
    left: 8%;
  }
  .hero .float2 {
    top: 49%;
    left: 8%;
  }
  .hero .float3 {
    top: -15%;
    left: 57%;
  }
  .hero .float4 {
    top: 69%;
    left: 45%;
  }
  .hero .float5 {
    top: -15%;
    left: 0%;
  }
}
