.analysis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  padding-inline: 20px;
  margin: 150px 0px;
}
.left-analysis,
.right-analysis {
  flex: 0.5;
  display: flex;
  justify-content: center;
}
.right-analysis .title {
  line-height: 120%;
}
.left-analysis {
  align-items: center;
}
.right-analysis {
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.right-analysis .sub-title {
  text-align: left;
}
.right-analysis .list {
  display: flex;
  padding-left: 30px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}
.right-analysis .list li {
  font-size: 1.3rem !important;
}
.apple-btn {
  margin-top: 40px;
}

.left-analysis img {
  max-width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1000px) {
  .analysis {
    flex-direction: column-reverse;
    margin-top: 4rem;
    padding-inline: 0px;
  }
  .apple-btn {
    align-self: center;
  }
  .right-analysis {
    padding-inline: 20px;
  }
  .left-analysis {
    margin-top: 2rem;
    width: 100%;
  }
  .phone {
    max-width: 350px !important;
  }
}
