.contact {
  width: 100%;
  max-width: 1094px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding-inline: 20px;
  margin-top: 5rem;
}
.contact p {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #1f1f39;
}
.contact form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  gap: 20px;
}
.input-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.input-row input {
  width: 100%;
  height: 85px;
  background: rgba(245, 245, 245, 0.7);
  border-radius: 20px;
  color: rgba(31, 31, 57, 0.5);
  font-size: 20px;
  border: none;
  padding-left: 20px;
  font-family: "Roboto", sans-serif;
}
.contact form textarea {
  height: 218px;
  width: 100%;
  background: rgba(245, 245, 245, 0.7);
  border-radius: 20px;
  color: rgba(31, 31, 57, 0.5);
  border: none;
  padding-left: 20px;
  padding-top: 20px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.contact form textarea::placeholder {
  font-size: 20px;
}
.note {
  font-size: 14px !important;
  line-height: 18px !important;
  color: rgba(31, 31, 57, 0.5) !important;
  align-self: flex-start;
}
.submit-form {
  width: 277px;
  height: 72px;
  background: #000000;
  border-radius: 20px;
  align-self: flex-start;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  line-height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: 1px solid black;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.submit-form:hover {
  background-color: transparent;
  color: black;
}
@media screen and (max-width: 550px) {
  .contact {
    margin-top: 4rem;
  }
  .input-row {
    flex-direction: column;
  }
  .submit-form {
    align-self: center;
  }
}
