.future-cont {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 6rem;
  position: relative;
}
.future {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  padding-inline: 20px;
  width: 100%;
  gap: 3rem;
}
.fut-patt {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  object-fit: contain;
  z-index: -1;
}
.future-right {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.future-right p {
  font-size: 1.2rem;
  text-align: left;
  color: #1f1f39fc;
  max-width: 450px;
  line-height: 1.6;
}
.future-left {
  position: relative;
}
.future-left .float1 {
  top: 41%;
  left: 6%;
}
.future-left .float2 {
  top: 62%;
  left: 7%;
}
.future-left .float3 {
  top: 81%;
  left: 29%;
}
.future-left .float4 {
  top: 70%;
  left: 65%;
}
.future-left .float5 {
  top: 36%;
  left: 66%;
}
@media screen and (max-width: 1200px) {
  .future-left .float1 {
    top: 41%;
    left: 16%;
  }
  .future-left .float5 {
    top: 40%;
    left: 66%;
  }
}
@media screen and (max-width: 974px) {
  .future-cont {
    display: none;
  }
}
